.row {
    margin-left: 2rem;
}

h2 {
    color: #fff;
}

.movie__row {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1rem;
}

.movie__row::-webkit-scrollbar {
    display: none;
}

.movie__img {
    object-fit: contain;
    width: 100%;
    max-height: 10rem;
    margin-right: 1rem;
    transition: transform 450ms;
}

.movie__img:hover {
    transform: scale(1.08);
}

.movie__img__big {
    max-height: 250px;
}

.movie__img__big:hover {
    transform: scale(1.09);
}

@media (min-width:320px) and (max-width:425px) {
    .row {
        margin-left: 1rem;
    }
}