.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    transition: all 0.3s ease-in;
}

.nav__bg {
    background: #000;
}

.nav__logo {
    position: fixed;
    left: 0;
    object-fit: contain;
    width: 100px;
    margin-left: 1rem;
}

.nav__avatar {
    position: fixed;
    width: 30px;
    object-fit: contain;
    right: 20px;
}